rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /reports/{reportId} {
      allow read, create, update, delete: if true;
    }
  }
}
